// Custom.scss
// Option A: Include all of Bootstrap

$blue: #052F5F;
$sapphire: #005377;
$red: #AF1B3F;
$pink: #F9627D;
$grey: #DCDCDD;

.profile-pic {
  width: 48px;
  height: 48px;
}

$theme-colors: ("primary": $blue, "warning": $red);
@import "../node_modules/bootstrap/scss/bootstrap";