@media (min-width: 320px) {
  .hello-box {
    background-color: red;
    width: 50%;
    margin-top: 10%
  }
}

@media (min-width: 768px) {
  .hello-box {
    background-color: green;
    width: 50%;
    margin-top: 10%
  }
}